

a.back-to-top {
    /*display: none;*/
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 24px;
    bottom: 32px;
    /*background: url("../img/icons/up_arrow.png") no-repeat center;
    background-size: cover;*/
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    opacity: 0.8;
}

a.back-to-top > img {
    height: inherit;
    position: inherit;
    right: inherit;
}

a.back-to-top:hover img {
    filter: brightness(0.6);
}

@media(min-width:768px) {
    a.back-to-top {
        /*display: none;*/
        width: 96px;
        height: 96px;
        right: 48px;
        bottom: 64px;
    }
}